<h1><%=$game.player_1_name%> has attacked <%=$game.player_2_name%>!</h1>

<h1><%=$game.current_player_name%>'s HP has reduced by 10!</h1>

<h1><%=$game.player_1_name%> has <%=$game.player_1_hp%> points!</h1>
<h1><%=$game.player_2_name%> has <%=$game.player_2_hp%> points!</h1>

<form action="/play">
  <input type="submit" value="go back to battle!">
</form>
