<h1><%=@game.player_1_name%> has attacked <%=@game.player_2_name%>!</h1>

<h2><%=@game.current_player_name%>'s HP has reduced by 10!</h2>

<h3><%=@game.player_1_name%> has <%=@game.player_1_hp%> points!</h3>
<h3><%=@game.player_2_name%> has <%=@game.player_2_hp%> points!</h3>

<form action="/play">
  <input type="submit" value="go back to battle!">
</form>
